@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
    <script src="/Assets/Admin/js/controller/searchController.js"></script>
    <script src="/Assets/Admin/js/controller/openInventoryController.js"></script>
    <script>
        var i = 0;
        function addNewRow() {
            i = i + 1;
            var table = document.getElementById("tableBody");
            var warehouseID = $('#txtWarehouseID').val();
            var year = $('#txtYear').val();
            var month = $('#txtMonth').val();
            var productID = $('#txtProductID').val();
            var quantity = $('#txtQuantity').val();
            var pre = "<tr id="+ i +">" +
                      "    <td id=warehouse"+ i +">" + warehouseID + "</td>" +
                      "    <td id=year"+ i +">" + year + "</td>" +
                      "    <td id=month"+ i +">" + month + "</td>" +
                      "    <td id=product"+ i +">" + productID + "</td>" +
                      "    <td id=quantity"+ i +">" + quantity + "</td>" +
                      "</tr>";

            $("#tableBody").prepend(pre);
        }

    </script>
    
}

<h1>Create new Open Inventory</h1>
</br>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group form-inline">
            <label class="control-label col-md-2">WarehouseID</label>
            <input class="form-control col-md-3" type="search" name="keyword" id="txtWarehouseID">
            <label class="control-label col-md-1">Year</label>
            <input class="form-control col-md-3" type="number" name="keyword" id="txtYear">
            <label class="control-label col-md-1">Month</label>
            <input class="form-control col-md-3" type="number" name="keyword" id="txtMonth">
        </div>

        <div class="form-group form-inline">
            <label class="control-label col-md-2">ProductID</label>
            <input class="form-control col-md-3" type="search" name="keyword" id="txtProductID">
            <label class="control-label col-md-1">Quantity</label>
            <input class="form-control col-md-3" type="number" name="keyword" id="txtQuantity">
            <div class="col-md-2">
                <button class="btn btn-primary" onclick="addNewRow()">Add</button>
            </div> 
        </div>
    </div>

    <div class="tables">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="btnCreate" class="btn btn-default">Create</button>
            </div>
        </div>
        <br />
        <div class="table-responsive bs-example widget-shadow">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>WarehouseID</th>
                        <th>Year</th>
                        <th>Month</th>
                        <th>ProductID</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>
    

<div>
    @Html.ActionLink("Back to List", "Index")
</div>